.site-header .site-title,
.site-header .site-title-home {
  font-size: $bio-name-font-size;
  font-family: $font-family;
  font-weight: $heading-font-weight;
  color: $dark-gray;
  @media (prefers-color-scheme: dark) {
    color: $light-gray;
  }
}

.site-header {
  vertical-align:middle;
}

.site-header a {
  font-size: $h2;
  font-weight: 300;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
  	text-decoration: none;
  }
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active,
.site-header .nav-active {
  border-bottom: 2px solid $link-color;
  color: darken($link-color, 30%);
  @media (prefers-color-scheme: dark) {
    border-bottom: 2px solid $link-color-dm;
    color: $light-gray;
  }
}

.site-nav a + a {
  margin-left: $space-1;
  // &:before{
  //   content: "/";
  //   margin-right: $space-1;};
}