a {
  color: $link-color;
  @media (prefers-color-scheme: dark) {
    color: $link-color-dm;
  }
}

a:hover,
a:focus,
a:active {
  color: darken($link-color, 30%);
  text-decoration: underline;
  @media (prefers-color-scheme: dark) {
    color: $light-gray;
  }
}

/*hack so links not underlined*/
a {
  text-decoration: none;
}