@media screen and (min-width: $viewport-small) {
  html {
    font-size: $base-font-viewport-small;
  }

  h1,
  .h1 {
    font-size: $h1;
  }


  .bio-name {
    display: inline;
  }

//  .site-header .site-title-home {
//    display: none;
//  }

  blockquote {
    margin-left: $space-3;
    padding: $space-3;
  }
  
  // .bio-picture {
    // display: block;
    // width: 200px;
    // max-width: 100%;
  // }

  .copy-code-button {
    display: block;
  }

  .site-header .site-title-home {
    font-size: $bio-name-font-size
  }

// .conferenceShort {
//     text-decoration: none;
//     float: right;
//     font-weight: bold;
//     color: #990000;
//     font-size: 1em;
// }

// .paperLineTitle {
//     font-weight: bolder;
//     font-size: 1em;
// }

// .paperLineAuthors{
//   max-width: 35em;
//   font-size: 1em;
// }

// .paperTitle{
//   font-size: 1em;
// }

// .conferenceLong {
//     text-decoration: none;
//     font-style: italic;
//     max-width: 35em;
//     font-size: 1em;
// }


}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: $base-font-viewport-medium;
  }

  // .site-header .site-title-home {
  //   font-size: $bio-name-font-size
  // }

}

@media screen and (min-width: $viewport-large) {
  html {
    font-size: $base-font-viewport-large;
  }

  // .site-header .site-title-home {
  //   font-size: $bio-name-font-size
  // }

  
}