.bio-name {
	font-size: $bio-name-font-size	;
	display: none;
  font-family: $font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-top: $space-2;
  margin-bottom: $space-1;
}

.bio-container {
	display: flex;
	flex-flow: row wrap;
}

.bio-flex-gap {
	min-width: 2em;
	flex: auto;
}

.bio-picture {
	position: relative;
	width: 150px;
  	height: 150px;
  	overflow: hidden;
  	border-radius: 50%;
	border: 4px solid $bio-border-color;
	min-width: 0px;
	min-height: 0px;
	// margin-left: 310px;
	margin-left: auto;
	margin-right: auto;

}

.bio-picture img{
	width: 100%;
	height: auto;
	transform: scale(1,1);
	padding-top: 0px;
}

.bio-horizontal-info {
	padding-top: 10px;
	padding-left: auto;
	padding-right: auto;
    display: flex;
    justify-content: space-between;
    // min-width: 20em
}


