// Typography
$font-family: 'Inter', sans-serif;
$heading-font-family: 'Inter', sans-serif;
$monospace-font-family: monospace;

$base-font-size: 12px;
$base-font-viewport-small: 14px;
$base-font-viewport-medium: 16px;
$base-font-viewport-large: 18px;

$blog-font-family: 'Lora', serif;
$drop-cap: false;

$bio-name-font-size: 3.5rem;

$line-height: 1.6;
$heading-line-height: 1.25;

$bold-font-weight: bold;
$heading-font-weight: bold;

$h1: 1.5rem;
$h2: 1.2rem;
$h3: 1.1rem;
$h4: 1rem;
$h5: .875rem;
$h6: .75rem;

$abbr-border-bottom: 1px black dotted;

// Page width
$measure-width: 50rem;

// Sidenote width
$blog-width: 0.7;
$sidenote-width: 0.25;

// Viewport widths
$viewport-small: 34rem;
$viewport-medium: 48rem;
$viewport-large: 64rem;

// Colors
$background-color: #fdfdfd;
$new-tag-color: #d95f02;
$info-tag-color: #4a648c;
$link-color: #4a648c;

$background-color-dm: #181a1b;
$new-tag-color-dm: #f28c28;
$info-tag-color-dm: #89a4d4;
$link-color-dm: #89a4d4;
$figure-border-color: #4a648c;
$bio-border-color: #4a648c;


$latex-environment-border-color: $new-tag-color;
$latex-environment-border-color-dm: $new-tag-color-dm;

$dark-gray: #333;
$light-gray: #ddd;

// Whitespace
$space-1: .5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;

// Borders
$border-width: 2px;
$border-radius: 3px;
